
.logo {
    max-width:100%;
    max-height:100%;
    margin: auto;
    display: block;
}

.logo-container {
    height :80px;
    width :80px;
    border: solid black 1px;
}

.skills {
    width: 100%;
    padding: 4rem 2rem;
    background: black;
    display: flex;
    flex-direction: column;
}
.skills h2 {
    color :white;
    font-size: 1.8rem;
    align-self: center;
    padding-bottom: 6rem;
}
.skills-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}
.skill h4 {
    margin-bottom: 1rem;
    text-decoration: underline;
}
.maitrise {
    background-color: white;
    height: 2rem;
    width : 12rem;
    border : solid #eee 1px;
    border-radius: 20px;
}
.full {
    background-color: rgb(156, 64, 64);
    height: 1.84rem;
    border-radius: 20px;
}
.bar {
    border-bottom: solid 1px #eee ;
    width: 20%;
    margin: 1.5rem auto;
    display: block;
}
@media screen and (max-width: 740px) {
    .skills-container{
        max-width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap : 3rem;
    }    
}
